*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  margin-top: 35px;
  margin-left: 45px;
}

h2{
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

#student-form input{
  width: 29vw;
  height: 40px;
  border: 1px solid #FFF;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  font-size: 18px;

  font-family: Inter;
  
 

} 

#add-edit-button{
  width: 512px;
  height: 47px;
  color: #000;
  font-weight: 400;
  background: #FFF;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
font-family: Inter;
font-size: 24px;
font-weight: 400;

}

.add:hover{
  background-color: rgb(218, 216, 216);
}

#search-input{
  width: 1275px;
  height: 47px;
  border: 1px solid #FFF;
  background-color: black;
  color: white;
  padding-left: 13px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-top: 45px;
}

table{
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
 
}

table th{
  border: 1px solid white;
  font-size: 20px;
  padding: 17px;
  width: 14vw; 
  color: #FFF;
font-family: Inter;


font-weight: 400;

}
table tr{
  
  border: 1px solid white;
  font-size: 18px;
  padding: 17px;
  width: 14vw; 
}




